<!DOCTYPE html>
<head>
    <title>Text Pattern Analyzer</title>
</head>
<body>
    <p>Paste or type your text below to calculate reading time (200 words per minute)</p>
    
    <hr>

    <form method="post">
        {% csrf_token %}

        <label for="text_input">Enter your text:</label>
        <br><br>
        
        <!-- Textarea for user input -->
        <textarea 
            id="text_input"
            name="user_text" 
            rows="15" 
            cols="80" 
            placeholder="Paste or type your long text here..." 
            required>{{ user_text }}
        </textarea>
        
        <br><br>
        
        <button type="submit">Calculate Reading Time</button>
    </form>

    <hr>
    
    <!-- Display result -->
    {% if minutes is not None %}
        <h2>Result:</h2>
        <p><strong>Read time: {{ minutes }} minutes and {{ seconds }} seconds</strong></p>

        <br>

    <h3>Top 3 Most Repeated words</h3>
     <ol>
        {% for word, count in top_words %}
            <li>{{ word }} - repeated {{ count }} times</li>
        {% endfor %}
    </ol>

    <br>
        
    <h3>Top 3 Most Repeated Two-Word Phrases:</h3>
    <ol>
        {% for phrase, count in top_phrases %}
            <li>"{{ phrase }}" - repeated {{ count }} times</li>
        {% endfor %}
    </ol>

    <br>

    <!-- Sentence Complexity -->
    <h3>Sentence Complexity Analysis:</h3>
        
    <p><strong>Most Complex Sentence:</strong></p>
    <blockquote>{{ most_complex_sentence }}</blockquote>
    <p>Complexity Score: <strong>{{ complex_score }} out of 10</strong></p>
        
    <br>
        
    <p><strong>Most Simple Sentence:</strong></p>
    <blockquote>{{ most_simple_sentence }}</blockquote>
    <p>Complexity Score: <strong>{{ simple_score }} out of 10</strong></p>

    {% endif %}
</body>